* {
  box-sizing: border-box;
}


body {
  background-color: rgb(224, 193, 193);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
}

header {
  background-color: rgb(140, 144, 144);
  margin-bottom: 30px
}
header nav {
  width: 960px;
  margin: auto;

}

img {
  margin-bottom: 30px;
  
}
nav ul {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  
}


main {
  background-color: antiquewhite;
  width: 960px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


footer {
  background-color: darkslategrey;
  height: 150px;
}

li{
  margin: 35px;
  display: inline-block;
  vertical-align: middle;
}

p {
  font-size: 20px;
  padding-left: 20px;
  }

  button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  transition: 350ms;
}

button:hover {
  background-color: rgb(140, 144, 144);
color: white;
}
